<!DOCTYPE html>
<html>
  {{> head this}}
  <body class="{{view}}">
    <div id="content">
      <div class="container-fluid external">
        {{{body}}}
      </div>
    </div>
    {{> footer this}}
  </body>
</html>
