<div class="row">
  <div class="col-sm-4 col-sm-offset-7">
    <a href="/"><b>Skill Exchange</b></a>
    <h1>FAQ</h1>
    <p>Below are our responses to some of the common questions that we’ve encountered. If you can’t find your answer below, contact us at <a href="mailto:support@skillexchange.me">support@skillexchange.me</a> and we’ll help you out.</p>

    <b>What is SkillExchange?</b>
    <p>SkillExchange is new online platform for University of Technology Sydney (UTS) students to find and connect with each other based on different skills and interests. SkillExchange will enable you to find co-founders, meet interesting people and build exciting networks to help you succeed. SkillExchange has been developed by UTS Innovation and Creative Intelligence Unit (ICIU).</p>

    <b>How much does it cost to sign up and use SkillExchange?</b>
    <p>SkillExchange is totally free! We do not charge students to use this platform.</p>

    <b>Can non-UTS students sign up to SkillExchange?</b>
    <p>No, SkillExchange has been developed specifically for UTS students and you must sign up with your university ID number.</p>

    <b>Can postgrad or international students sign up to SkillExchange?</b>
    <p>Yes! SkillExchange is open to any current UTS student.</p>

    <b>What does UTS do with my data?</b>
    <p>The <a href="http://www.gsu.uts.edu.au/policies/student-declaration.html">UTS Student Declaration</a> explains the various ways that UTS will use and disclose information about you. We recommend that you take the time to read and understand it.</p>
    <p>For more detailed information about how UTS manages your privacy and protects your personal information, see <a href="https://www.uts.edu.au/node/85821/">your privacy at UTS</a>. If at any time you would no longer like your profile to be displayed on SkillExchange you can easily turn your visibility off.</p>

    <b>What kind of messages can I send to SkillExchange members?</b>
    <p>By using SkillExchange you are agreeing to abide by the UTS codes of conduct for communication. Any harassment of other students will not be tolerated and UTS ICIU holds the right to remove any student from the platform should they breach this agreement. If you have any further questions or if you feel you are being harassed by another student please contact <a href="mailto:support@skillexchange.me">support@skillexchange.me</a>.</p>
  </div>
</div>
