<div class="row">
  <div class="col-sm-4 col-sm-offset-7">
    <a href="/"><b>Skill Exchange</b></a>
    <h1>Forgot password</h1>
    <form id="forgot" method="post" action="/reset">
      <p>Forgot your password already? Don't worry, just enter your UTS university ID number and press the button below.</p>
      <input class="form-control" name="signup-studentID" type="text" placeholder="Your university ID number..." />
      <button id="resend" class="btn btn-primary">Reset my password</button>
    </form>
  </div>
</div>
