<div id="container">

    <nav class="clearfix animated fadeInDown" id="nav">
        <span class="pull-left">SkillExchange</span>
        <a href="mailto:support@skillexchange.me" class="pull-right">Send us an email</a>
    </nav>

    <div id="content">
        <h1 class="animated fadeInUp">Connect with other talented students at UTS</h1>
        <p class="animated fadeInUp">SkillExchange is new online platform for UTS students to connect with each other to work on projects. Sign up using your UTS email address and we'll email you when things get going.</p>
        <form action="http://skillexchange.createsend.com/t/d/s/kkkjul/" method="post" id="subForm" class="animated fadeInUp">
            <input id="fieldEmail" name="cm-kkkjul-kkkjul" type="text" required placeholder="Your student email address..." title="Please enter a valid UTS email address." />
            <div class="hidden">
                <input id="fielddljjw" name="cm-f-dljjw" type="text" />
                <input id="fielddljjyd" name="cm-f-dljjyd" type="text" />
            </div>
            <button type="submit">Get early access</button>
        </form>
    </div>

    <div id="iciu">
        <p>Powered by</p>
        <img src="/images/iciu.png" alt="ICIU" />
    </div>

</div>
