<div class="row">
  <div class="col-sm-4 col-sm-offset-7">
    <a href="/"><b>Skill Exchange</b></a>
    <h1>Verify your email</h1>
    <p>We've sent you an email with a link to verify your email address. Once you confirm it, just press the button below!</p>
    <form id="verify" action="/verify" method="POST">
      <input type="submit" class="btn btn-primary" value="I've verified my email" />
    </form>
    <a href="#" id="resend">I didn't get the email</a>
  </div>
</div>
